@media only screen and (max-width: 1600px) {
    .conteiner {
        width: 100%;
    }

    .header {
        &_wrapper {
            width: 96%;
            margin: 0 auto;
        }
    }

    .files {
        &_wrapper {
            width: 96%;
            margin: 0 auto;
        }
        &_menu {
            &_title {
                width: 450px;
            }
        }
    }

    .footer {
        &_wrapper {
            width: 96%;
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .header {
        &_menu_list {
            display: none;
        }
        &_burger {
            float: right;
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            & span {
               position: absolute;
               background-color: #001D97; 
               left: 0;
               width: 100%;
               height: 2px;
               top: 9px;
               
            }
            &::before,
            &::after {
                content: '';
                background-color: #001D97;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
        }
        &_title {
            width: 100%;
        }
    }
    .files {
        &_menu {
            &_title {
                width: 370px;
                font-size: 50px;
                line-height: 52px;
            }
            &_list {
                gap: 17px;
            }
        }
    }
    .footer {
        &_bg {
            height: auto;
        }
        &_wrapper {
            flex-direction: column-reverse;
            padding-top: 50px;
        }
        &_name {
            margin-bottom: 62px;
            margin-top: 33px;
        }
        &_menu_links_left {
            margin-top: 22px;
        }
    }
}

@media only screen and (max-width: 992px) {
    .files {
        &_menu {
            &_list {
                flex-direction: column;
                flex-wrap: wrap;
                height: 80px;
                gap: 15px;
                margin-right: 215px;
                justify-content: flex-end;
                margin-bottom: 10px;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .files {
        &_content {
            margin-top: 30px;
        }
        &_menu {
            justify-content: normal;
            flex-direction: column;
            align-items: normal;
            &_title {
                width: auto;
                font-size: 45px;
                line-height: 45px;
            }
            &_list {
                margin-top: 15px;
                height: auto;
                gap: 10px;
                margin-right: 0;
                justify-content: normal;
                margin-bottom: 0
            }
        }
    }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 600px) {
    .header_logo {
        width: 220px;
    }
    .files_content_initial_title {
        font-size: 20px;
    }
    .footer {
        &_name{
            width: auto;
            &_text {
                font-style: 40px;
            }
        }
        
    }
}

@media only screen and (max-width: 480px) {
    .footer {
        & a {
            font-size: 16px;
        }
        &_wrapper {
            padding-top: 20px;
        }
        &_menu{
            &_links {
                &_left {
                    margin-top: 5px;
                }
                &_list_item {
                    line-height: 19px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1450px) {
    .files_content_class {
        justify-content: center;
    }
}